<form action="./userImg.js" method="post" enctype="multipart/form-data">
    <table boarder="1">
        <tr>
            <td>
                이미지
            </td>
            <td>
                <input type="file" name="img" />
            </td>
        </tr>
        <td colspan="2">
            <button type="submit">
                글쓰기
            </button>
        </td>
    </table>
</form>